.table {
    thead th {
        &:hover {
            background-color: seagreen;
        }
    }

    tbody {
        tr {
            &:hover {
                cursor: pointer;
                background-color: cadetblue;
            }
        }
    }
}