.button_container {
  display: flex;
  justify-content: space-between;

  button {
    min-width: 120px;
  }
}

.columns {
  margin: 1.5rem auto !important;
}

span.has-text-info {
  margin: 1rem !important;
  padding: 0.5rem;
  border: 1px solid grey;
}

.nav_icon {
  color: darkred !important;

  &:hover {
    color: darksalmon !important;
  }
}